.grid_container{
     
    display: grid;
    justify-content:center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    flex-wrap: wrap;
    
}

.grid_item{

    border: 1px solid white;
    color: black;
    /* height: 10px;
    width: 10px; */
    background-color: black;
    box-sizing: border-box;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}